.header__search-btn {
    position: absolute;
    right: 5px;
    background: linear-gradient(90deg,var(--primary),var(--primary-600));
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: all 0.3s ease;
}