.header__logo {
    font-family: var(--font-header);
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}
@media (max-width: 480px) {
    .header__logo { font-size: 20px; }
}