.header__burger span {
    width: 25px;
    height: 3px;
    background-color: var(--dark);
    margin: 3px 0;
    transition: 0.3s;
    border-radius: 2px;
}
.header__burger--active span:nth-child(1) { transform: rotate(45deg) translate(6px,6px); }
.header__burger--active span:nth-child(2) { opacity: 0; }
.header__burger--active span:nth-child(3) { transform: rotate(-45deg) translate(8px,-8px); }
