.advantages__grid { display: grid; grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); gap: 30px; align-items: stretch; }

@media (max-width: 600px) {
    .advantages__grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

