.about__card {
    background: white;
    border-radius: 12px;
    padding: 35px;
    margin-bottom: 30px;
    box-shadow: var(--card-shadow);
    font-family: var(--font-text);
}

.about__card-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--text);
    font-family: var(--font-header);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

.about__card-subtitle {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--text);
    font-family: var(--font-header);
    font-weight: 700;
}

.about__card-icon {
    color: var(--primary);
}