.catalog__title {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #2C3E50;
    position: relative;
    padding-bottom: 20px;
}



@media (max-width: 850px) {
    .catalog__title {
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .catalog__title {
        font-size: 28px;
        margin-bottom: 20px;
    }
}