.categories__grid {
 display: grid; 
 grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 30px; 
}

@media (max-width: 600px) {
    .categories__grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}